---
layout: base.liquid
---

{{ content }}

<article class="post__grid">
  {% for page in pages.blog %}
    <a href="{{ page.route }}" class="post__link">
      <div class="post__card">
        <h2 class="post__title">{{ page.title }}</h2>
        <h3 class="post__subtitle">{{ page.subtitle }}</h3>
        <p class="post__description">{{ page.description }}</p>
      </div>
    </a>
  {% endfor %}
</article>
