---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
import Base from '../layouts/Base.astro'
import Title from '../components/Title.astro'

import getMeta from '../data/meta'
import allProjects from '../data/projects.json'
import LinkBlock from '../components/LinkBlock.astro'
import { getCollection } from 'astro:content'

const collection = await getCollection('blog')
const blog = collection
  .filter((p) => p.data.published !== false)
  .sort((a, b) =>
    new Date(a.data.subtitle).getTime() - new Date(b.data.subtitle).getTime() >
    0
      ? -1
      : 1
  )

const meta = getMeta()

const recentPost = blog[0]
const posts = blog.slice(1, 4)

const projects = allProjects.slice(0, 4)
const docsItem = {
  title: 'Docs',
  subtitle: meta.buildDate,
  description: 'My personal notes on software development and related topics',
  cta: 'Go to docs',
  url: '/docs',
}

const recentPostItem = {
  ...recentPost.data,
  url: `${recentPost.collection}/${recentPost.slug}`,
}
---

<Base>
  <section class="link__grid">
    <img
      class="link__image--horizontal"
      src="/images/home/code.jpg"
      alt="the sky with some clouds"
    />
    <div>
      <a href={recentPostItem.url} class="link__link">
        <h2 class="link__title">{recentPostItem.title}</h2>
        <p class="link__subtitle">{recentPostItem.subtitle}</p>
        <p class="link__description">{recentPostItem.description}</p>
        <p class="link__cta">Read more</p>
      </a>
    </div>
  </section>

  <Title title="What's new" />

  <section class="link__grid">
    <LinkBlock item={docsItem} />

    {
      posts?.map((post) => (
        <LinkBlock link={`${post.collection}/${post.slug}`} item={post.data} />
      ))
    }
  </section>

  <Title title="Projects" />

  <section class="link__grid">
    {projects?.map((project) => <LinkBlock item={project} />)}
  </section>
</Base>
