---
import { getCollection } from 'astro:content'
import Title from '../components/Title.astro'
import Base from '../layouts/Base.astro'
import Page from '../layouts/Page.astro'

const collection = await getCollection('books')

const groups = Object.entries(
  collection.reduce<Record<string, typeof collection[number][]>>(
    (acc, book) => {
      const year = book.id.split('/')[0]

      acc[year] = acc[year] || []
      acc[year].push(book)

      return acc
    },
    {}
  )
)
---

<Base>
  <Page>
    <p>THIS PAGE IS UNDER CONSTRUCTION</p>

    <Title title="Library" />
    <p>Some stuff I've read recently</p>

    {
      groups.map(([year, books]) => (
        <div class="year">
          <h3>{year}</h3>

          <div class="books">
            {books.map((book) => (
              <figure class="book">
                <img
                  src={`https://covers.openlibrary.org/b/isbn/${book.data.isbn}-L.jpg?default=false`}
                  alt={'Cover Art for ' + book.data.title}
                />

                <figcaption>
                  {book.data.title} - {book.data.author} - {book.data.year}
                </figcaption>
              </figure>
            ))}
          </div>
        </div>
      ))
    }

    <p class="attribution">
      Cover Images from <a href="https://openlibrary.org/">Open Library</a>
    </p>
  </Page>
</Base>
