---
interface Props {
  link: string
  title: string
  subtitle?: string
  description?: string
  tags?: string[]
}

const { link, title, subtitle, description, tags } = Astro.props
---

<a href={link} class="link__link">
  <h2 class="link__title link">{title}</h2>
  {subtitle && <p class="link__subtitle">{subtitle}</p>}
  {description && <p class="link__decription">{description}</p>}
  {
    tags && (
      <ul class="link__tags">
        {tags?.map((tag) => (
          <li class="link__tag">{tag}</li>
        ))}
      </ul>
    )
  }
</a>

<style>
  .link__link {
    display: block;
    break-inside: avoid;

    border-bottom: var(--separator-border);
    margin-bottom: 24px;
  }

  .link__title {
    margin-top: 0px;
  }
</style>
