---
interface Props {
  link: string
  title: string
  subtitle?: string
  description?: string
  tags?: string[]
  image?: string
}

const { link, title, subtitle, description, tags, image } = Astro.props
---

<a href={link} class="link__link">
  <h2 class="link__title link">{title}</h2>
  {
    image && (
      <div class="link__image">
        <img alt={title} src={image} />
      </div>
    )
  }
  {subtitle && <p class="link__subtitle">{subtitle}</p>}
  {description && <p class="link__decription">{description}</p>}
  {
    tags && (
      <ul class="link__tags">
        {tags?.map((tag, i) => (
          <>
            {i !== 0 ? '•' : ''}

            <li class="link__tag">{tag}</li>
          </>
        ))}
      </ul>
    )
  }
</a>

<style>
  .link__link {
    display: block;
    break-inside: avoid;

    margin-bottom: 24px;
  }

  .link__title {
    margin-top: 0px;
  }

  .link__subtitle {
    font-style: italic;
  }

  .link__tags {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    display: inline-block;
  }

  .link__tag {
    display: inline-block;
    background-color: var(--color-on-base);
    color: var(--color-base);
    padding: 0.25rem;
  }
</style>
