---
interface Props {
  link: string
  title: string
  subtitle?: string
  description?: string
  tags?: string[]
  image?: string
}

const { link, title, subtitle, description, tags, image } = Astro.props
---

<a href={link} class="link__link">
  <h2 class="link__title link">{title}</h2>
  {
    image && (
      <div class="link__image">
        <img alt={title} src={image} />
      </div>
    )
  }
  {subtitle && <p class="link__subtitle">{subtitle}</p>}
  {description && <p class="link__decription">{description}</p>}
  {
    tags && (
      <ul class="link__tags">
        {tags?.map((tag, i) => (
          <>
            {i !== 0 ? '•' : ''}

            <li class="link__tag">{tag}</li>
          </>
        ))}
      </ul>
    )
  }
</a>

<style>
  .link__link {
    display: block;
    break-inside: avoid;

    border-bottom: var(--separator-border);
    margin-bottom: 24px;
  }

  .link__title {
    margin-top: 0px;
  }

  .link__subtitle {
    font-style: italic;
  }

  .link__tags {
    display: inline-block;
    /* don't show tags for now */
    display: none;
  }

  .link__tag {
    display: inline-block;
  }
</style>
