---
import { readFile } from 'fs/promises'

import { Code } from 'astro-expressive-code/components'

interface Props {
  /**
   * Base path from which to resolve snippet
   *
   */
  base?: string
  /**
   * Path from the `base` directory, e.g. `algorithms/union-find/quick-find.ts`
   */
  path: string
  /**
   * Languages supported by the Astro Code component. Add languages here as needed since Astro does
   * not expose this type
   */
  lang?: 'ts' | 'js' | 'astro' | 'c++' | 'yml' | 'ini' | 'css' | 'glsl'
}

const { base = './src/snippets', path, lang = 'ts' } = Astro.props

const code = await readFile(`${base}/${path}`, 'utf-8')
---

<div class="snippet">
  <Code title={path} code={code} lang={lang} />
</div>

<style is:global>
  /* Expressive Code Overrides */
  .expressive-code .frame.has-title:not(.is-terminal) .header {
    background: transparent;
  }

  .expressive-code .copy {
    transform: scale(0.6);
  }
</style>
