---
import Title from '../components/Title.astro'
import experience from '../data/experience.json'
import education from '../data/education.json'
import about from '../data/about.json'
import Base from '../layouts/Base.astro'
import { Contact } from '../components/Contact'
import SocialNav from '../components/SocialNav.astro'
import ReadingWidth from '../layouts/ReadingWidth.astro'
import LinkGrid from '../components/LinkGrid.astro'
---

<Base>
  <ReadingWidth>
    <div class="no-print">
      <Title title="About me" />
    </div>

    <!-- <SocialNav /> -->

    <section class="link__grid">
      <div>
        <h2 class="link__title">{about.tagline}</h2>
        <h3 class="link__subtitle">{about.location}</h3>
      </div>
      <div>
      {
        about.about.split('\n').map(l =>
            <p>{l}</p>
        )
      }        
      </div>

      <!-- <Contact client:only="react" /> -->
    </section>

    <section>
      <Title title="Experience" />

      <LinkGrid maxCols={2}>
        {
          experience.map((exp) => (
            <div class="link__grid">
              <div>
                <h2 class="link__title">{exp.company}</h2>
                <h3 class="link__subtitle">{exp.subtitle}</h3>
                <p class="link__subtitle">{exp.location}</p>
                <p class="link__subtitle">{exp.period}</p>
              </div>
              <ul>
                {exp.points.map((p) => (
                  <li class="link__description">{p}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </LinkGrid>
    </section>

    <section>
      <Title title="Education" />

      <div class="education__grid">
        {
          education.map((edu) => (
            <div class="education__item">
              <div>
                <h2 class="link__title">{edu.school}</h2>
                <h3 class="link__subtitle">{edu.qualification}</h3>
                <p class="link__subtitle">{edu.location}</p>
                <p class="link__subtitle">{edu.period}</p>
              </div>
              <ul>
                {edu.points.map((p) => (
                  <li class="link__description no-print">{p}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </section>
  </ReadingWidth>
</Base>
