{% title "Projects" %}

<p>
  Some projects I'm currently working on
</p>


<section class="link__grid">
  {% for project in projects %}
  <a
    href="{{ project.link }}"
    class="link__link"
    rel="”noopener"
    noreferrer”
    target="_blank"
  >
    <div class="link__card">
      <h2 class="link__title">{{ project.title }}</h2>
      <p class="link__subtitle">{{ project.description }}</p>
      <ul class="link__tags">
        {% for tag in project.tags %}
        <li class="link__tag">{{ tag }}</li>
        {% endfor %}
      </ul>
      <div class="link__cta-wrapper">
        <p class="link__cta">{{ project.cta }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</section>
