---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
import { Footer, Header } from '../components'
export interface Props {
  title?: string
  description?: string
  fullWidth?: boolean
}

const {
  title = 'Nabeel Valley',
  description = 'Software develpment, Photography and Design',
  fullWidth = false,
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="eqR9vdsWmb7gglH0R4CilWu8iysUMq1-AII0eotV6JM"
    />

    <link rel="sitemap" href="/sitemap-index..xml" />

    <link rel="icon" type="image/x-icon" href="/favicon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Lato:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <!-- katex -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css"
      integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs"
      crossorigin="anonymous"
    />

    <!-- app -->
    <link rel="stylesheet" href="/style/main.css" />

    <title>{title}</title>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@not_nabeel" />

    <meta name="description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta name="og:description" content={description} />

    <meta
      name="twitter:image"
      content="https://nabeelvalley.co.za/images/home/code.jpg"
    />
    <meta
      name="og:image"
      content="https://nabeelvalley.co.za/images/home/code.jpg"
    />
    <meta name="twitter:title" content={title} />
    <meta name="og:title" content={title} />

    <!-- Webmention config -->
    <link
      rel="webmention"
      href="https://webmention.io/nabeelvalley.co.za/webmention"
    />
  </head>

  <body>
    <div class={fullWidth ? 'page full-width' : 'page'}>
      <Header />
      <main class="main">
        <slot />
      </main>
      <Footer />
    </div>

    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"
    ></script>

    <script is:inline src="/web-components/presentation-slide.js"></script>
    <script is:inline src="/web-components/presentation.js"></script>
    <link rel="stylesheet" href="/web-components/presentation.css" />
  </body>
</html>

<style>
  .page {
    position: relative;
  }

  .page.full-width {
    max-width: unset;
  }

  .page {
    overflow-wrap: break-word;
    /* disabled since sticky items cannot be positioned when overflow is hidden */
    /* overflow-x: hidden; */
  }

  .main {
    margin-left: auto;
    margin-right: auto;
    padding: 48px 24px;
  }
</style>
